@import url('https://fonts.googleapis.com/css?family=M+PLUS+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC:wght@300&display=swap');

body {
    --navbar-spacing:8rem;
    --navbar-foreground:#fff;
    --navbar-background:#161616;

    padding:0;
    margin:0;
    font-size:16px;
    font-family:"Open Sans";
    overflow-x:hidden;
    /* overflow-y:scroll; */
    /* perspective:100px;
    perspective-origin:0 0;
    transform-style:preserve-3d; */
}

.triangle {
    margin:0;
    padding:0;
    width:80em;
    height:80em;
    background:#282018;
    transform:translateY(30em) rotate(45deg);
    /* border:2px solid grey; */
    /* transform-origin:0 0;
    transform:translateZ(-100px);
    position:absolute; */
}
.belowtriangle {
    background:#282018;
    width:100%;
    height:70em;
    transform:translateY(-11em);
}

/*
colors:
blacks:
#282018
#2f2f2f
*/

.navbar {
    /* not sure if i want this position:sticky, ill add some shit and see how it works */
    width:100%;
    height:4em;
    position:relative;
    background-color:var(--navbar-background);
    border-bottom:1px solid var(--navbar-background);
    padding:auto;
    font-family:"Overlock SC";
    user-select: none;
    z-index:1;
}
.navbar::after {
    content:'';
    position:absolute;
    left:-10%;
    top:-3em;
    width:120%;
    height:10em;
    background:var(--navbar-background);
    z-index:0;
    filter:blur(1.2em);
    clip-path:polygon(0 70%, 100% 70%, 100% 200%, 0% 200%);
}
.navbar > * { display:inline-block; }
.navbar > .header { /* on hover there will be a short and fat T that comes out underneath */
    margin:1rem 0 0 var(--navbar-spacing);
    cursor:pointer;
    font-size:20px;
    text-decoration: none;
    color:var(--navbar-foreground);
    letter-spacing: 2px;
    border:none;
    transition:all 0.2s ease;
}
.navbar > .header::after {
    position:absolute;
    content:'';
    width:6rem;
    height:0.5rem;
    transition:all 0.2s ease;
    transform:translate(-3.25rem, 1.5rem);
    border-left:2px solid var(--navbar-foreground);
    opacity:0;
}
.navbar > .header::before { 
    position:absolute;
    content:'';
    transition:all 0.2s ease;
    width:6.5rem;
    height:1.5rem;
    opacity:0;
    border-bottom:2px solid var(--navbar-foreground);
    /* border-top:2px solid #282018; */
}
.navbar > .header:hover::after {
    opacity:1;
}
.navbar > .header:hover::before {
    opacity:1;
}
.navbar > .item {
    color:var(--navbar-foreground);
    text-decoration:none;
    margin-left:var(--navbar-spacing); /* this is kinda shitty but i think itll work we'll see */
    padding:1rem 3rem;
    cursor:pointer;
    transition:all 0.3s ease;
    /* border:1px solid red; */
}
.navbar > .item:first-of-type { margin-left:0; }
.navbar > .item:hover, .navbar > .active { background:var(--navbar-foreground); color:var(--navbar-background); }